extends ../layouts/default

block intro
	.container

block content
	.container: .row: .col-md-4
		form(method="post")
			input(type="hidden", name="action", value="change")
			.form-group
				label(for="email") Email
				input#email.form-control(type="text", name="email" value=`${formEmail}`)
			.form-group
				label(for="password") New Password
				input#password.form-control(type="password", name="password")
			button.btn.btn-primary(type="submit") Change Password