extends ../layouts/default

block content
	.wrap: .container
		h1.animate Guitar Shop
		p.animate The best guitars you'll ever find
		a.animate.btn.btn-default(href="/guitars") See Guitars
block js
	script(src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js")
	script(type="text/javascript").
		window.sr = ScrollReveal()
		sr.reveal('.animate', { duration: 1500, origin: 'right', distance: '10vw'}, 500)
