extends ../layouts/default

block intro
	.container
		h1 Login

block content
	.container
		.row: .col-md-4
			form(method='post')
				input(type='hidden', name='action', value='login')
				.form-group
					label(for='email') Email
					input.form-control#email(type='text' name='email' required autocomplete='off')
				.form-group
					label(for='password') Password
					input.form-control#password(type='password' name='password' required autocomplete='off')
					a.pull-right(href="/restore"): small Forgot Password?
				.form-group
					button(type='submit' style="display:block").btn.btn-primary Log in
					a.pull-right(href="/signup"): small Create an account