extends ../layouts/default

block content
	.container: .row: .col-md-4.col-md-offset-4
		h1 We've got your back!
		form(method="post")
			input(type="hidden", name="action", value="restore")
			.form-group
				label(for="email") Enter your email
				input.form-control#email(type="email" name="email")
			button.btn.btn-primary.btn-sm(type="submit") Recover my password