html,body {
	width: 100%;
	height: 100%;
}

.wrapper {
	position: relative;
	min-height: 100%;
	background: #fafafa;
}

#footer {
	margin-top: 40px;
	padding: 10px 0 0;
	color: #fff;
	background: #445963;
	position: absolute;
	height: 40px;
	bottom: 0;
	width: 100%;
	a {
		color: white;
		text-decoration: none;
		padding: 5px;
	}
}

#body {
	padding-bottom: 50px;
}

.navbar.navbar-home {
	z-index: 10;
	background: #fff;
}

@media (min-width: 768px) {
	.navbar.navbar-home {
		z-index: 10;
		border-radius: 0;
		background: transparent;
		border: none;
		.navbar-header .navbar-brand {
			display: none;
		}
		.navbar-collapse li {
			margin: 0 5px;
		}
		.navbar-collapse li a{
			color: #fafafa;
			font-size: 18px;
			transition: all 0.35s;
			display: inline-block;
			overflow: hidden;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: -100%;
				width: 100%;
				height: 100%;
				background: transparent;
				border-bottom: 1px solid white;
				transition: all 0.35s;
			}
			&:hover:before {
				left: 0;
			}
			&:hover {
				color: #f0f0f0;
				transform: scale(1.1);
			}
		}
	}
}

.navbar.navbar-default {
	border-radius: 0px;
	.navbar-header .navbar-brand {
		font-family: 'Lemonada', cursive;
	}
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}
.post {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	.image-wrap {
		margin-bottom: 20px;
		.img-responsive {
			margin: 0 auto;
		}
	}
}
