html
	head
	body
		h1 Thanks for getting in touch!
		p We have received your enquiry:
		table
			tr
				td: strong From:
				td= name
			tr
				td: strong Message:
				td= message
		p We will respond to your message as soon as possible
		hr
		span Greetings,
		p Guitar Shop