html
	head
	body
		h1 Hi, #{name}
		p Thank you for contacting us. Please click on the following link to reset your password:
		a(href=`${link}`) Restore your password
		p
		p If you didn't ask for this, you can ignore this email.
		hr
		span Greetings,
		p Guitar Market