html
	head
	body
		h3 Welcome to Guitar Shop, #{ name }!
		p We hope you enjoy our website. This is your login data: 
		ul
			li
				strong Email: 
				span= email
			li
				strong Password: 
				span= password
		p Please keep this email safe and do not hesitate in contact us in case you need it.
		hr
		span Greetings,
		p Guitar Shop
